
  <h2>Edit Celebrity </h2>


<form action="" method="POST">
<label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="{{ celebrities.name }}" value="{{ celebrity.name }}"/> <br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" placeholder="{{ celebrities.occupation }}" value="{{ celebrity.occupation }}"/><br>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="{{ celebrities.catchPhrase }}" value="{{ celebrity.catchphrase }}"/><br>
  <button>Edit</button>
</form>

