{{!--  --}}
{{#with data}}
<h2>here are the details about <strong>{{this.name}}</strong></h2>

<p><strong>{{this.name}}'s</strong> occupation is <i>{{this.occupation}} </i>and their catch phrase is <i>"
        {{this.catchPhrase}} "</i></p>

<a href="/celebrities/{{this._id}}/edit" class="small-link"> edit
    it</a>
{{/with}}