<form action="/celebrities/{{this._id}}/delete" method="post"><a href="/celebrities/{{this._id}}">
        <h5>{{this.name}}</h5>
    </a><button>delete</button></form>
{{!-- <p>Occupation: {{this.occupation}}</p>
<p>Catch Phrase:<i>{{this.catchPhrase}}</i></p> --}}